<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Menu</h2>
    <ul>
                <li class="" data-bind="visible: viewModel.authenticated, click: function() {viewModel.currentView('useradmin'); }, css: { active: viewModel.currentView() == 'useradmin' }"><a href="#/useradmin">User Admin</a></li>
                <li class="" data-bind="visible: viewModel.authenticated, click: function() {viewModel.currentView('tagadmin'); }, css: { active: viewModel.currentView() == 'tagadmin' }"><a href="#/tagadmin">Edit Tags</a></li>

              </ul>
                

            </div>
        </div>

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                <h2>Admin</h2>
                         
            </div>
        </div>

    </div>
</div>
