<div class="row">

<div class="span8">
    <h2>Register</h2>
    <form>

        <div class="clearfix">
            <label for="registerUser">Username</label>
            <div class="input">
            <input type="text" id="registerUser" name="registerUser" />
            </div>
          </div>

        <div class="clearfix">
            <label for="registerName">Display name</label>
            <div class="input">
            <input type="text" id="registerName" name="registerName" />
            </div>
          </div>

        <div class="clearfix">
            <label for="registerPass">Password</label>
            <div class="input">
            <input type="password" id="registerPass" name="registerPass" />
            </div>
          </div>

        <div class="actions">
            <input type="submit" class="btn primary" value="Register">
        </div>
    </form>
</div>

<div class="span8">
    <h2>Login</h2>
    <form>


        <div class="clearfix">
            <label for="loginUser">Username</label>
            <div class="input">
            <input type="text" id="loginUser" name="loginUser" />
            </div>
          </div>

        <div class="clearfix">
            <label for="loginPass">Password</label>
            <div class="input">
            <input type="password" id="loginPass" name="loginPass" />
            </div>
          </div>




        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
          </div>
    </form>
</div>

    </div>