<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                <h2 class="headline"><span data-bind="text: questionsModel.tag_filter"></span> Questions</h2>

                <table id="questions" class="zebra-striped">
                  <tbody data-bind="template: { name: 'questionitem', foreach: questionsModel.questions}"></tbody>
                </table>

            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2 class="headline">Tags</h2>
                
                <ul id="tags" data-bind="template: { name: 'tagitem', foreach: questionsModel.sortedTags}"></ul>
            </div>
        </div>

    </div>
</div>
