<div class="container" style="margin-top: 40px">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                <h2>Questions</h2>

                <div id="questions">
                    <div class="question">
                        <h2><a href="#">My son keeps crying in his sleep</a></h2>
                        <p>For about seven months now, my son has been....</p>
                        <p>2 days ago</p>
                    </div>
                    <div class="question">
                        <h2><a href="#">My son keeps crying in his sleep</a></h2>
                        <p>For about seven months now, my son has been....</p>
                        <p>2 days ago</p>
                    </div>
                    <div class="question">
                        <h2><a href="#">My son keeps crying in his sleep</a></h2>
                        <p>For about seven months now, my son has been....</p>
                        <p>2 days ago</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Tags</h2>
            </div>
        </div>

    </div>
</div>