<div class="container" style="margin-top: 40px">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                <h2>Questions</h2>

                <table id="questions" class="zebra-striped">
                  <tbody data-bind="template: { name: 'questionitem', foreach: questionsModel.questions}"></tbody>
                </table>

            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Tags</h2>

                <ul id="tags" data-bind="template: { name: 'tagitem', foreach: questionsModel.sortedTags}"></ul>
            </div>
        </div>

    </div>
</div>
