<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">
        <div class="span16 ymcontent">
            <form id="askQuestion">
                <div class="clearfix" style="padding: 20px;">
                    <h2>Ask a question</h2>
                </div>

                <div class="clearfix">
                    <label for="questionTitle">Title</label>

                    <div class="input">
                        <input type="text" id="questionTitle" name="questionTitle" class="xxlarge required"
                               data-bind="value: questionModel.title, valueUpdate: 'afterkeydown'"/>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="questionDescription">Question</label>

                    <div class="input">
                        <textarea id="questionDescription" name="questionDescription" class="xxlarge required" rows="10"
                                  data-bind="value: questionModel.description, valueUpdate: 'afterkeydown'"/>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="questionTag">Tag</label>


                    <div class="input">
                        <select id="questionTag" name="questionTag"
                                data-bind="options: questionModel.tagList, optionsText: 'tagName', value: questionModel.tag"/>
                    </div>
                </div>

                <div class="actions" style="margin-top: 64px;">
                    <input type="submit" class="btn primary" value="Submit"
                           data-bind="click: questionModel.submit"/>
                </div>
            </form>
        </div>

    </div>
</div>

