<div class="container" style="margin-top: 40px">
    <div class="row">

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Menu</h2>
    <ul>
                <li class="" data-bind="visible: viewModel.authenticated, click: function() {viewModel.currentView('tagadmin'); }, css: { active: viewModel.currentView() == 'tagadmin' }"><a href="#/tagadmin">Edit Tags</a></li>

              </ul>
           </div>
        </div>

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                <h2>Admin</h2>

                <table>
<thead>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
                </thead>
                <tbody data-bind="template: { name: 'tagRow', foreach: tagadminModel.tagList }">
                <tr>
                  <td> <div class="input">
                        <textarea id="tagName" name="tagName" class="xlarge" rows="2" data-bind="value: tagadminModel.Update.tagName" />

                    </div></td>
                  <td><div class="input">
                        <textarea id="description" name="description" class="xlarge" rows="2" data-bind="value: tagadminModel.Update.description"/>

                    </div></td>
                  <td><button class="small" data-bind="click: tagadminModel.Update.add">Add New Tag</button></td>
                </tr></tbody>
                </table>
      
            </div>
        </div>

    </div>
</div>

