<div class="container" style="margin-top: 40px">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                 <div class="question">
                    <h2><a href="#"><span data-bind="text: viewQuestionModel.title"></span></a></h2>
                    <p data-bind="text: viewQuestionModel.description"></p>
                    <p>2 days ago</p>
                </div>
                <div class="answers">
                  <div data-bind='template: { name: "answertemplate", foreach: viewQuestionModel.answers }'> </div>
                </div>
            </div>

            <div id="newanswer">
              <form method="/" action="post">

                <div class="clearfix" style="padding: 20px;">
                    <h2>Add an response</h2>
                </div>

                <div class="clearfix">
                    <label for="questionResponse">Response</label>

                    <div class="input">
                        <textarea id="questionResponse" name="questionResponse" class="xxlarge" rows="10"
                               data-bind="value: viewQuestionModel.newAnswerForm.answer, valueUpdate: 'afterkeydown'" />

                    </div>
                </div>

            <div class="actions">

                <input type="submit" class="btn primary" value="Submit"
                       data-bind="click: viewQuestionModel.newAnswerForm.submit">

            </div>                

            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Tags</h2>
            </div>
        </div>
    </div>
</div>
