<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                 <div class="question">
                    <div style="border-bottom: 1px solid #404040; margin-bottom: 20px">
                      <h1><a href="#"><span data-bind="text: viewQuestionModel.title"></span></a></h1>
                    </div>
                    <p data-bind="text: viewQuestionModel.description"></p>
                    <p class="prettydate" data-bind="attr: { title: viewQuestionModel.date }"></p>
                </div>
                <hr/>
                <div class="answers">
                  <h3>Responses</h3>
                  <table id="answers" class="zebra-striped">
                    <tbody data-bind='template: { name: "answertemplate", foreach: viewQuestionModel.answers}'></tbody>
                  </table>
                </div>
            </div>

            <div id="newanswer">
              <form class="form-stacked" id="newAnswerForm">
                <div class="clearfix">
                    <label for="questionResponse">Response</label>

                    <div class="input">
                        <textarea id="questionResponse" name="questionResponse" class="xxlarge required" rows="10"
                               data-bind="value: viewQuestionModel.newAnswerForm.answer, valueUpdate: 'afterkeydown'" />

                    </div>
                </div>

            <div class="actions">

                <input type="submit" class="btn primary" value="Submit"
                       data-bind="click: viewQuestionModel.newAnswerForm.submit">

            </div>                

            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Tags</h2>
            </div>
        </div>
    </div>
</div>
