<div class="container" style="margin-top: 40px">
    <div class="row">

        <div class="span12 ymcontent">
            <div style="padding: 5px;">
                 <div class="question">
                    <h2><a href="#"><span data-bind="text: viewQuestionModel.title"></span></a></h2>
                    <p data-bind="text: viewQuestionModel.description"></p>
                    <p>2 days ago</p>
                </div>
                <div class="answers">
                  <div data-bind='template: { name: "answertemplate", foreach: viewQuestionModel.answers }'> </div>
                </div>
            </div>
        </div>

        <div class="span4 ymcontent">
            <div style="padding: 5px;">
                <h2>Tags</h2>
            </div>
        </div>
    </div>
</div>
